#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#sortable li:hover {
  border: 1px solid #999;
  background-color:#aaa;
}

#sortable li.done, #sortable li.done:hover {
  background-color:#cfb;
  border: 1px solid #4b4;
}

#sortable li .body {
  padding:8px;
  padding-bottom:0;
}

#sortable li .react a, #sortable li .react span {
  color:#fff;
  padding:0 4px;
  font-size:0.78em;
}

#sortable li div.replies li {
  font-size:0.84em;
  background:none;
  border:1px solid #fff;
}

#sortable li div.replies {
  margin:2px;
}

